<script>
jQuery(document).ready(function() {

  var paramsintoform = function() {
    if (window.location.search) {
      var s = window.location.search.split('?')[1];
      var params = s.split('&');
      for ( var p = 0; p < params.length; p++ ) {
        var parts = params[p].split('=');
        var cp = parts[0];
        if (cp.length && parts.length === 2 && parts[0] !== 'nothanks' && $('#'+cp).length) {
          $('#'+cp).val(decodeURIComponent(parts[1]));
        }
      }
    }
  }
  paramsintoform();
  });
</script>

<!-- Date picker from https://stackoverflow.com/questions/32378590/set-date-input-fields-max-date-to-today -->
<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("needed-by").setAttribute("min", today);
</script>
