<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">

    <!-- Live embed. joe+ifla@openaccessbutton.org -->
    <!--<script src="https://openaccessbutton.org/static/instantill.js"></script>
    <script>instantill({uid:"ivSJpXG4euYTqhciz",bootstrap:false});</script>-->

    <!-- dev account is with joe+iflav2@openaccessbutton.org -->
    <script src="https://dev.openaccessbutton.org/static/instantill.js"></script>
    <script>instantill({uid:"Ayt7Hf4FXwLprbQX7",api:"https://dev.api.cottagelabs.com/service/oab",bootstrap:false});</script>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- ALERT BANNER -->

    <div id="alert_content_wrap" class="outer">
      <section id="alert_content" class="inner">
        <p>oh no something bad has happened</p>
      </section>
    </div>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="/faq">FAQ</a>

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER CONTENT -->

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Created by the <a href="https://www.ifla.org/docdel" target="_blank">IFLA Document Delivery and Resource Sharing Section Standing Committee</a></p>
      </footer>
    </div>
  </body>
</html>
