<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <a id="forkme_banner" href="/faq">FAQ</a>

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER CONTENT -->

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Created by the <a href="https://www.ifla.org/docdel" target="_blank">IFLA Document Delivery and Resource Sharing Section Standing Committee</a> with the help of <a href="https://instantill.org" target="_blank">InstantILL</a>.</p>
      </footer>
    </div>

    <script>
    jQuery(document).ready(function() {

      var paramsintoform = function() {    
        if (window.location.search) {
          var s = window.location.search.split('?')[1];
          var params = s.split('&');
          for ( var p of params ) {
            var parts = p.split('=');
            var cp = parts[0]; //.toLowerCase().replace(/ /g,'_');
            var tp = '#';
            var inpage = $(tp+cp).length;
            /*if (!inpage) {
              tp = '.';
              inpage = $(tp+cp).length;
            }*/
            if (parts.length === 2 && parts[0] !== 'nothanks' && inpage) $(tp+cp).val(decodeURIComponent(parts[1]));
          }
        }
      }
      paramsintoform();

      var goto = false;
      var valid = undefined;
      var submit = function(e) {
        if (valid === false) {
          valid = undefined; // reset validity check and let the form continue to display warning
        } else {
          try { e.preventDefault(); } catch(err) {};
    
          valid = $('#submission')[0].checkValidity();
          if (!valid) {
            $('#submit').click(); // will run again, but this time skip to letting the form display warning
          } else {
            // form valid now, send the data and go to thanks
            $('#submit').replaceWith('<p>Submitting...</p>');
            
            var data = {};

            if (window.location.search) {
              var s = window.location.search.split('?')[1];
              var params = s.split('&');
              for ( var p of params ) {
                var parts = p.split('=');
                if (parts.length === 2 && parts[0] !== 'nothanks' && (!fields.length || fields.indexOf(parts[0]) !== -1)) data[parts[0]] = parts[1];
              }
            }

            $('.oabutton_form').each(function() {
              if (!fields.length || fields.indexOf($(this).attr('id')) !== -1) data[$(this).attr('id')] = encodeURIComponent($(this).val());
            });
    
            goto = $(this).attr('href');
            console.log(data);
            $.ajax({
              url: url,
              method: 'GET',
              dataType: 'json',
              data: data,
              success: function(res) {
                console.log(res);
                if (window.location.search.indexOf('nothanks') === -1) window.location = goto;
              }
            });
          }
        }
      }
      $('body').on('click','#submit',submit);
    });
    </script>

  </body>
</html>
